body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #515E63;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
}

.container{
    text-align: center;
    width: 400px;
    max-width: 400px;
    border-radius: 5px;
    background-color: #D57E7E;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 5px 0 40px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    padding-right: 3rem;
}

form:first-child{
    margin-top: 0;
}
form:last-child{
    margin-bottom: 0;
}
#login input{
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid #C9D8B6;
    outline: none;
    background-color: #FEFBF3;
    font-size: 0.9rem;
    transition: background 0.2s, border-color 0.2s;
}
#login input:focus{
    border-color: brown;
}
#login h1{
    margin-bottom: 2rem;
    text-align: center;
    color: #FEF1E6;
    position: relative;
    left: 1rem;
}
button{
    position: relative;
    left: 1rem;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #FEF1E6;
    color: #D57E7E;
}
button:hover{
    border: 2px solid brown;
}
a{
    text-decoration: none;
    text-align: center;
    color: #F6DFEB;
    padding-left: 1.5rem;
}
a:hover{
    text-decoration: underline;
}
.form-hidden{
    display: none;
}
#signup input{
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid #C9D8B6;
    outline: none;
    background-color: #FEFBF3;
    font-size: 0.9rem;
    transition: background 0.2s, border-color 0.2s;
}
#signup input:focus{
    border-color: brown;
}
#signup h1{
    margin-bottom: 2rem;
    text-align: center;
    color: #FEF1E6;
    position: relative;
    left: 1rem;
}
.error{
    text-align: start;
    color: rgb(255, 0, 0);
    margin-bottom: 10px; 
}
.errorSign{
    text-align: start;
    color: rgb(255, 41, 41); 
    margin-bottom: 10px;
}
.errorSign > p{
    width: 100%;
    margin: 10px 0;
    padding: 1rem;
    border-radius: 5px;
    background-color: #e99090;
    border: 2px solid #ff0000;
    position: relative;
}
.error > p{
    width: 100%;
    margin: 10px 0;
    border: 2px solid hsl(0, 100%, 50%);
    padding: 0.8rem;
    border-radius: 5px;
    background-color: #ec9292;
    position: relative;
    padding-top: 0;
}
.error > p::before{
    content: "";
    background-image: url(./error-icon-25257.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: relative;
    top: 8px;
    margin: 0;
    padding-left: 5px;
}